# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Package build
build/
dist/
*egg-info

# Vim files
.*.swp
Session.vim

# GDB history
.gdb_history

# Test output
test_output*
