# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Package build
build/
dist/
*egg-info
Pipfile.lock

# Vim files
.*swp
Session.vim
tags

# GDB history
.gdb_history

# Reporting
coverage.xml
.coverage

# Test files
a.out
main.pdf

# Log files
*.log
